@using Fluxor
@using Presentation.Store.Budget
@using Presentation.Store.Group
@using Presentation.Store.Transaction
@inherits LayoutComponentBase

@inject IDispatcher _dispatcher

<div class="page">
    
    <NavMenu />
    
    <main>
        <article style="
            padding-top: 4.1rem;
            width: 100%;
            display: flex;
            justify-content: center;
            background-color: #FAFAFA;
            border-bottom: 1px solid lightgray;
        ">
            @Body
        </article>
    </main>
</div>

@code {
    
    protected override Task OnInitializedAsync() {
        _dispatcher.Dispatch(new GroupRepoLoadAction());
        _dispatcher.Dispatch(new TransactionRepoLoadAction());
        _dispatcher.Dispatch(new BudgetMockLoadAction());
        return base.OnInitializedAsync();
    }

}