@inherits LayoutComponentBase

<div class="page">
    
    <NavMenu />
    
    <main>
        <article style="
            padding-top: 4.1rem;
            width: 100%;
            display: flex;
            justify-content: center;
            background-color: #FAFAFA;
            border-bottom: 1px solid lightgray;
        ">
            @Body
        </article>
    </main>
</div>
