@using Fluxor
@using Presentation.Store.Budget
@using Presentation.Store.Group
@using Presentation.Store.Transaction
@using Presentation.Components
@using Presentation.Store.Imports
@inherits LayoutComponentBase

@inject IDispatcher _dispatcher

<div class="page">
    
    <NavMenu />
    <FadeInFrom Color="whitesmoke" />
    
    <main>
        <article style="
            padding-top: 4.1rem;
            width: 100%;
            display: flex;
            justify-content: center;
            background-color: #FAFAFA;
            border-bottom: 1px solid lightgray;
        ">
            @Body
        </article>
    </main>
</div>

@code {
    
    protected override async Task OnInitializedAsync() {
        _dispatcher.Dispatch(new GroupRepoLoadAction());
        _dispatcher.Dispatch(new TransactionRepoLoadAction());
        _dispatcher.Dispatch(new ImportRepoLoadAction());
        _dispatcher.Dispatch(new BudgetRepoLoadAction());
        await base.OnInitializedAsync();
    }

}