<style>
      .modal-popup {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        height: 80%;
        max-width: 100%;
        max-height: 100%;
        background-color: white;
        border: 1px solid lightgrey;
        border-radius: 10px;
      }
      .modal-overlay {       
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,.2);
        border-radius: 10px;
      }
      .modal-guts {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 20px 50px 20px 20px;
        overflow: auto;
      }
</style>

<div class="modal-overlay" @onclick="@OnClose">
    <div class="modal-popup" id="modal" @onclick:stopPropagation="true">
        <div class="modal-guts">
            @ChildContent
        </div>
    </div>
</div>

@code {

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public Action OnClose { get; set; } = () => { };

}