@using Presentation.Pages

<div style="border-bottom: 1px grey;">
    <nav style="
        display: flex;
        flex-direction: row;
        justify-content: center;
        position: fixed;
        background-color: white;
        width: 100%;
        padding: 18px;
        gap: 20px;
        border-bottom: 1px solid lightgray;
        align-items: center;
    ">
        <div style="width: 100px; height: 20px; background-color: dodgerblue">Logo</div>
        <div style="width: 200px; height: 20px; background-color: grey; border-radius: 5px">Search</div>
        <div>
            <FileSaver/>
            <FileLoader/>
            <GroupEditor/>
            <TransactionImporter/>
        </div>
    </nav>
</div>

@code { }
