@using Presentation.Pages
@using Presentation.Components

<div style="border-bottom: 1px grey;">
    <nav style="
        display: flex;
        flex-direction: row;
        justify-content: center;
        position: fixed;
        background-color: white;
        width: 100%;
        padding: 18px;
        gap: 20px;
        border-bottom: 1px solid lightgray;
        align-items: center;
    ">
        <a href="/">
            <img src="icons/gilder-logo.png" alt="Gilder - Save Better"
                         style="
                            height: 30px;
                            margin-right: 30px;
                            filter: drop-shadow(1px 1px 0 #231F20)
                                    drop-shadow(-1px 1px 0 #231F20)
                                    drop-shadow(1px -1px 0 #231F20)
                                    drop-shadow(-1px -1px 0 #231F20);
                        "/>
        </a>
        <div style="
            width: 300px;
            height: 30px;
            background-color: #FAFAFA; 
            border-radius: 10px; 
            align-items: center;
            padding: 3px 3px 3px 10px;
            color: lightgray;
            border: 1px solid lightgray;
            margin-right: 30px;
        ">
            Search
        </div>
        <div>
            <ImageLink Large Source="icons/data-icon.png" Href="/data"/>
            <ImageLink Large Source="icons/reconcile-icon.png" Href="/reconcile"/>
            <ImageLink Large Source="icons/spending-icon.png" Href="/spending"/>
            <ImageLink Large Source="icons/budget-icon.png" Href="/budget"/>
            <ImageLink Large Source="icons/forecast-icon.png" Href="/forecast"/>
            <ImageLink Large Source="icons/forecast-icon.png" Href="/tax"/>
        </div>
    </nav>
</div>

@code { }
