@using Presentation.Components
@using Fluxor.Blazor.Web.Components

@inherits FluxorComponent

@page "/data"

<div style="display: flex; flex-direction: column">
    <div>
        <DataSummary />
    </div>
    
    <div>
        <FileSaver/>
        <FileLoader/>
        <GroupEditor/>
        <TransactionImporter/>
    </div>
</div>