@using Presentation.Components
@using Fluxor.Blazor.Web.Components

@inherits FluxorComponent

@page "/data"

<div style="display: flex; flex-direction: column">
    <div style="display: flex; width: 100%; justify-content: space-around;">
        <FileSaver/>
        <FileLoader/>
    </div>
    <div>
        <DataSummary/>
    </div>
</div>