@page "/forecast"
@using Fluxor
@using Presentation.Store.Forecast
@using Presentation.Components
@using Fluxor.Blazor.Web.Components

@inherits FluxorComponent

@inject IDispatcher _dispatcher
@inject IState<ForecastState> _forecastState

<div style="display: flex; flex-direction: column">
    <ContentPanel>
        <div style="height: 35vh">
            <BarChartVertical Bars="@ForecastBars"/>
        </div>
    </ContentPanel>
    <ContentPanel>
        <BudgetTable />
    </ContentPanel>
</div>
@code {

    private IEnumerable<BarChartVertical.Bar> ForecastBars => _forecastState.Value.MonthForecasts
        .Select(f => new BarChartVertical.Bar {
            Text = f.Month.ToString("MMM-yy"),
            Value = f.NetPosition,
            RenderValue = BarChartVertical.RenderValue.Thousands
        });
        
    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        _dispatcher.Dispatch(new ForecastCollateCommand());
    }

}