<a
    @onclick="@(() => OnClick?.Invoke())"
    href=@(string.IsNullOrEmpty(Href) ? "" : Href)
    target=@(string.IsNullOrEmpty(Href) ? "" : "_blank")
    title="@Alt"
    style="cursor:@(OnClick == null ? "default" : "pointer")">
    <img src=@Source width="20" height="20"/>
</a>

@code {

    [Parameter]
    public string Source { get; set; } = "data:,";

    [Parameter]
    public string Href { get; set; } = String.Empty;

    [Parameter]
    public Action? OnClick { get; set; } = null;

    [Parameter]
    public string Alt { get; set; } = String.Empty;

}