<div style="background-color: white; border: solid 1px lightgrey; padding: 10px; margin: 10px; border-radius: 5px">
    @ChildContent
</div>

@code {

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

}