<div style="
        display: grid;
        grid-template-columns: repeat(3, 1fr); 
        gap: 20px; 
        margin-top: 20px; 
        margin-bottom: 20px">
    @ChildContent
</div>

@code {

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

}