@using Fluxor
@using Presentation.Store.File

@inject IDispatcher _dispatcher

<ImageLink
    Large
    Source="icons/load-icon.png" 
    OnClick="@(() => Show())" 
    Alt="Load Work from Saved File" />

@if (_show){
    <Modal>
        <InputFile OnChange="@LoadSavedFileAsync" accept=".gdb" />
        <button @onclick="@Hide">Close</button>
    </Modal>
}

@code {

    private bool _show;

    private void Show() {
        _show = true;
        StateHasChanged();
    }

    private void Hide()
    {
        _show = false;
        StateHasChanged();
    }

    private void LoadSavedFileAsync(InputFileChangeEventArgs obj)
    {
        var chosenFile = obj.File;
        _dispatcher.Dispatch(new FileLoadAction(chosenFile));

        _show = false;
    }

}