<a
    @onclick="@(() => OnClick?.Invoke())"
    href=@(string.IsNullOrEmpty(Href) ? "javascript:void(0);" : Href)
    target=@(string.IsNullOrEmpty(Href) ? "" : NewTab? "_blank" : "")
    title="@Alt"
    style="cursor:@(OnClick == null ? "default" : "pointer")">
    <img src=@Source width="@Size" height="@Size"/>
</a>

@code {

    [Parameter]
    public string Source { get; set; } = "data:,";

    [Parameter]
    public string Href { get; set; } = String.Empty;

    [Parameter]
    public Action? OnClick { get; set; } = null;

    [Parameter]
    public string Alt { get; set; } = String.Empty;

    [Parameter]
    public bool NewTab { get; set; } = false;
    
    [Parameter]
    public bool Small { get; set; } = true;

    [Parameter]
    public bool Large { get; set; } = false;

    private int Size => Small && !Large ? 20 : 30;

}