<ContentCard>
    <div style="width: 17vw; display: flex; flex-direction: column; justify-content: center; align-items: center">
        <img style="width: 10vw; height: 10vw; margin-bottom: 20px" src="@ImgSrc" alt="Open"/>
        <h3>
            @HeadingText
        </h3>
        <div style="display: flex; align-items: center; text-align: center">
            @ChildContent
        </div>
    </div>
</ContentCard>

@code {

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public string? HeadingText { get; set; }

    [Parameter]
    public string? ImgSrc { get; set; }

}