<style xmlns="http://www.w3.org/1999/html">
    .landing-section{
        width: 60vw; 
        height: 90vh;
        margin-left: 20vw;
    }
    
    .full {
        width: 100%;
        margin-left: 0px;
    }
</style>

<div style="display: flex; flex-direction: column; width: 100vw">
    <div class="landing-section" style="padding-top: 5%">

        <ContentPanel>
            <div style="width: 100%; display: flex; justify-content: center; flex-direction: column; align-items: center">
                <div>
                    <img src="icons/icon-sparkling.svg"
                         style="
                            width: 250px;
                            height: 250px;
                            transform: rotate(-0.05turn); 
                    "/>
                    <img src="icons/gilder-logo-hd.svg"
                         style="
                            height: 130px;
                            z-index: 1;
                            margin-top: 40px;
                            margin-left: -120px;
                            filter: drop-shadow(1px 1px 0 #231F20)
                                    drop-shadow(-1px 1px 0 #231F20)
                                    drop-shadow(1px -1px 0 #231F20)
                                    drop-shadow(-1px -1px 0 #231F20);
                            "/>
                    <div style="display: flex; justify-content: flex-end; margin-top: -30px; color: grey"><h5>Enrich your life.</h5></div>
                </div>
                <div style="margin-top: 50px">
                    <b>Track, Budget</b> and <b>Forecast</b> finances <br/>
                    with <i>easy, interactive</i> cash-flow planning.
                </div>
            </div>
            @* <div style="width: 100%; display: flex; justify-content: center; margin-top: 50px"> *@
            @*     <button>Get Started!</button> *@
            @* </div> *@
        </ContentPanel>

    </div>
    @* *@
    @* <div class="landing-section"> *@
    @* *@
    @*     <div style="display: flex; justify-content: center"> *@
    @*         <LandingFeature HeadingText="Open" ImgSrc="icons/calendar-icon.png"> *@
    @*             Gilder is open source.<br/> *@
    @*             See how it works, and contribute <br/> *@
    @*             directly on GitHub. *@
    @*         </LandingFeature> *@
    @*         <LandingFeature HeadingText="Free" ImgSrc="icons/calendar-icon.png"> *@
    @*             Gilder wants to help peop.<br/> *@
    @*             See how it works, and contribute <br/> *@
    @*             directly on GitHub. *@
    @*         </LandingFeature> *@
    @*         <LandingFeature HeadingText="Open" ImgSrc="icons/calendar-icon.png"> *@
    @*             Gilder is open source.<br/> *@
    @*             See how it works, and contribute <br/> *@
    @*             directly on GitHub. *@
    @*         </LandingFeature> *@
    @*     </div> *@
    @* *@
    @* </div> *@
    @* *@
    @* *@
    @* <div class="landing-section full" style="background-color: white; border-top: 1px solid lightgrey"> *@
    @*     Easy As *@
    @* </div> *@

</div>