@using Fluxor
@using Presentation.Store
@using Presentation.Store.Transaction

@inject IDispatcher _dispatcher

<ImageLink
    Large
    Source="/icons/import-icon.png" 
    OnClick="@(() =>SetShow(true))"
    Alt="Import Bank Transaction CSV" />

@if (_show) {
    <Modal OnClose="@(() => SetShow(false))">
        <InputFile OnChange="@LoadFiles" multiple accept=".csv"/>
        @if (_chosenFiles != null) {
            <button onclick="@HandleImportClicked"> Import </button>
        }
    </Modal>
}

@code {

    private bool _show = false;
    
    private IReadOnlyList<IBrowserFile>? _chosenFiles;

    private void SetShow(bool show)
    {
        _show = show;
        StateHasChanged();
    }

    private void LoadFiles(InputFileChangeEventArgs e) => 
        _chosenFiles = e.GetMultipleFiles();

    private async Task HandleImportClicked()
    {
        if(_chosenFiles == null) return;

        var ms = new MemoryStream();
        foreach (var chosenFile in _chosenFiles)
        {
            await chosenFile.OpenReadStream().CopyToAsync(ms);
            
            ms.Position = 0;
            using var reader = new StreamReader(ms);
            var csvText = await reader.ReadToEndAsync();
            _dispatcher.Dispatch(new TransactionCsvLoadAction(csvText));
        }

        SetShow(false);
    }

}