@using Reconciler.Domain
@using Reconciler.Application
@using Reconciler.Store 
@using Fluxor
@using Fluxor.Blazor.Web.Components;

@inject IDispatcher _dispatcher;
@inject IGroupRepository _groupRepository;

@inherits FluxorComponent

<select value="@Transaction.Group?.Name" @onchange=HandleOptionChanged>
    <option>Select</option>
    @foreach (var option in _options) {
        <option value="@option.Name">@option.Name</option>
    }
</select>

@code {

    [Parameter]
    public Transaction Transaction { get; set; }

    private IEnumerable<Group> _options;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        var options = await _groupRepository.ReadGroups();
        _options = options.ToArray();
    }

    private void HandleOptionChanged(ChangeEventArgs e)
    {
        var newGroupName = (string)e.Value;
        var group = _options.First(g => g.Name == newGroupName);

        var updatedTransaction = Transaction with { 
            Group = group
        };
        _dispatcher.Dispatch(new TransactionUpdateAction(updatedTransaction));
    }

}